<html>
    <head>
        <link rel = "stylesheet" href = "static/style.css" />
    </head>

    <body>
        <div class = container>
            <img src = "https://image.tmdb.org/t/p/w500{{posterImg}}"/><br>
        </div>

        <div class = title>
            <h1>Movie Information: TMDB</h1>

        </div>

        <div class = text>
            <h2>Title: {{title}}</h2><br>
            <h2>Tagline: {{tagline}}</h2><br>
            <h2>Genre: {{genre}}</h2><br>
            <h2>Wikipedia URL: <a href = {{url}}> {{title}} </a></h2>
        </div>
    </body>
</html>